@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
      font-family: 'Poppins', sans-serif;
      color:  #ebeef1;
}

body{
      background-color: #13171f;
}


.white--image {
      -webkit-filter: brightness(0) invert(0.6);
      filter: brightness(0) invert(0.6);
}

.text-link--blue{
      color: #58a6ff;
}

.text-muted--color{
      color: #8b949e;
}